/*Classes*/
.fapp_frame_contents{
	width: 250px;
	transition: width 0.5s ease-in;
	float: left;
	overflow: hidden;
}

.fapp_frame_contents_collapsed{
	width: 0px;
	transition: width 0.5s ease-out;
	float: left;
	overflow: hidden;
}

.rotate{
	transform: rotate(180deg);
	transition: transform 0.5s ease-out;
}

.no_rotate{
	transform: rotate(0deg);
	transition: transform 0.5s ease-in;
}

/*IDs*/
#fapp_main_panel{
	height: 95vh;
	border: none;
	background-color: rgba(124,194,175,0.8);
	position: relative;
	float: right;
	display: table;
}

#fapp_frame_manipulate, #fapp_frame_contents{
	display: table-cell;
}

#fapp_frame_manipulate{
	width: 50px;
	height: 100%;
	text-align: left;
	float: left;
}

#fapp_hide_holder{
	width: 100%;
	height: 100px;
	padding: 5px;
	background: url("chrome.extension.getURL('IMGs/hide_unnactive.png')")
}

#fapp_logo_holder{
	width: 100%;
	overflow: hidden;
}
