/*http://www.dof.gob.mx/nota_detalle.php?codigo=5332803&fecha=17/02/2014*/
/*http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Paginas/requisitos_impresion_cfdi.aspx*/
/*http://www.sat.gob.mx/informacion_fiscal/factura_electronica/Documents/cfdi/CFDIRepresentImpresa.pdf*/
body{
	font-family:sans-serif;
}

table{
	width:100%;
	border-collapse:collapse;
}

th{
	font-weight:bold;
	text-align:left;
	font-size:12pt;
}

td{
	font-size:10pt;
}

td div{
	width:416px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

tr:nth-child(even){
	background-color:#feeae9;
}

.fac_tb_center{
	text-align:center;
}

.fac_tb_right{
	text-align:right;
	padding-right:5px;
}

.fac_main_page{
	width:8.5in;
	height:11in;
}

.fac_heading{
	width:100%;
	/*height:50px;*/
	display:table;
}

.fac_container_right{
	width:50%;
	display:table-cell;
	text-align:right;
}

.fac_subtitle{
	width:100%;
	height:16pt;
	background-color:#dcdcdc;
	color:#ca3434;
	font-size:14pt;
	font-weight:bold;
}

.fac_contents_right{
	font-size:14pt;
	padding-top:10px;
}

.fac_title{
	width:50%;
	height:60px;
	background-color:#c0504d;
	text-align:center;
	vertical-align:middle;
	font-size:18pt;
	color:white;
	display:table-cell;
}

.fac_rfc_part{
	width:100%;
	border-top: 3px solid #c0504d;
	margin-top: 10px;
}

.fac_rfc_holder{
	width:100%;
	display:table;
}

.fac_name_address{
	width:70%;
	text-overflow:clip;
	display:table-cell;
}

.fac_rfc_name{
	font-weight:bold;	
}

.fac_rfc{
	display:table-cell;
	text-align:center;
	font-size:14pt;
	font-weight:bold;
	vertical-align:middle;
}

.fac_rfc_regime{
	text-align:center;
	font-size:10pt;
	color:#ca3434;
}

.fac_amounts_container{
	width:100%;
	margin:10px 0px;
	display:table;
}

.fac_third_data{
	display:table-cell;
	width:33%;
	text-align:center;
	padding:0px 5px;
}

.fac_tax_holder{
	width:100%;
	border-bottom:black thin solid;
}

.fac_container_left{
	text-align:left;
	width:50%;
	display:table-cell;
}

.fac_folio_container{
	width:calc(100% - 40px);
	padding: 5px 20px;
	overflow:hidden;
}

.fac_folio_title{
	font-weight:bold;
}

.fac_folio{
	width:100%;
	text-overflow:clip;
	word-break:break-all;
	font-size:10pt;
}

.fac_container_tab{
	display:table-column;
}

.fac_QR{
	width:5cm;
	height:5cm;
	margin:5px 100px;
	border:solid black thin;
}
