/*Classes*/
.fapp_frame_contents{
	width: 300px;
	height: 100%;
	transition: width 0.5s ease-in;
	float: left;
	overflow: hidden;
}

.fapp_frame_contents_collapsed{
	width: 0px;
	transition: width 0.5s ease-out;
	float: left;
	overflow: hidden;
}

.rotate{
	transform: rotate(180deg);
	transition: transform 0.5s ease-out;
}

.no_rotate{
	transform: rotate(0deg);
	transition: transform 0.5s ease-in;
}

.fapp_category_container{
	width: calc(100% - 2*25px);/*Due to padding*/
	height: 35px;
	background-color: none;
	transition: background-color 0.5s ease-out;
	float: left;
	padding: 10px 25px;
	padding-bottom: 5px;
	overflow: hidden;
}

.fapp_category_container p{
	font-size: 20pt;
	color: #eaeaea;
	transition: color 0.5s linear;
	margin: 0px;
	border-bottom: thin #eaeaea solid;
	cursor: pointer;
}

.fapp_data_container{
	width: calc(100% - 25px);/*Due to margin*/
	height: 0px;
	transition: height 0.5s ease-in;
	margin-left: 25px;
	float: left;
	overflow-y:auto;
	overflow-x:hidden;
}

.fapp_data_container_populated{
	width: calc(100% - 25px);/*Due to margin*/
	height: calc(97vh - 55px*3);/*This depends on the main height and each label height... variableeeeees!!! Pleeeeaseeee!!*/
	transition: height 0.5s ease-out;
	transition-delay: 0.5s;
	margin-left: 25px;
	float: left;
	overflow-y:auto;
	overflow-x:hidden;
}

.fapp_data_container::-webkit-scrollbar { width: 0 !important }
.fapp_data_container_populated::-webkit-scrollbar { width: 0 !important }
.fapp_data_container_wmenu::-webkit-scrollbar { width: 0 !important }

.fapp_data_container_wmenu{
	width: calc(100% - 25px);/*Due to margin*/
	height: calc(97vh - 55px*3 - 83px);/*This depends on the main height and each label height... variableeeeees!!! Pleeeeaseeee!!*/
	transition: height 0.5s ease-out;
	transition-delay: 0.5s;
	margin-left: 25px;
	float: left;
	overflow-y:auto;
	overflow-x:hidden;
}

.fapp_office_table{
	display: table;
	width: 100%;
}

.fapp_office_RFC{
	display: table-cell;
	text-align: left;
}

.fapp_office_offices{
	display: table-cell;
	text-align: right;	
}

.fapp_office_icon, .fapp_office_data{
	float: left;
}

.fapp_office_icon{
	width: calc(100% - 5px);/*Due to margin*/
	height: 40px;
	background: url("chrome-extension://__MSG_@@extension_id__/IMGs/edificio.png");
	background-repeat: no-repeat;
	background-position: center;
	margin: 2.5px;
}

.fapp_office_icon:hover{
	background: url("chrome-extension://__MSG_@@extension_id__/IMGs/edificio2.png");
	background-repeat: no-repeat;
	background-position: center;
}

.fapp_office_data{
	width: calc(100% - 10px);/*padding*/
	padding: 5px;
	font-size: 12pt;
	color: black;
}

.fapp_office_name{
	text-align: center;
	font-weight: bold;
}

.fapp_menu_top{
	width: 120px;
	height: 30px;
	display: table-cell;
	padding: 5px 2px;
}

.fapp_menu_opholder{
	display: table-cell;
	height: 100%;
	width: 40px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/circle.png");
	background-repeat: no-repeat;
	background-position: center;
}

.fapp_search_bar{
	width: calc(100% - 50px);/*Due to margin*/
	margin: 0px 25px;
	height: 30px;
	float: left;
	display: table;
	padding: 5px 0px;
	border-bottom: solid #c0c0c0 thin;
	overflow: hidden;
}

.fapp_search_input{
	height: 30px;
	display: table-cell;
}

.fapp_search_input input{
	border-radius: 20px;
	margin-left: 20px;
	width: 140px;
	float: left;
}

.fapp_search_button{
	float: left;
	display: table-cell;
	height: 30px;
	width: 30px;
	margin-right: 20px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/circle.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: default;
}

.fapp_search_button p{
	color: white;
	text-align: center;
	margin: 6.5px 0px;
}

.fapp_search_magn{
	height: 30px;
	width: 30px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/search.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.2s linear;
}

.fapp_search_magn:hover{
	transform: scale(0.85,0.85);
}

.fapp_menu_active{
	overflow: hidden;
	height: 83px;
	width: 100%;
	transition: height 0.2s ease-in;
	transition-delay: 0.5s;
}

.fapp_menu_hidden{
	overflow: hidden;
	height: 0px;
	width: 100%;
	transition: height 0.2s ease-out;
	transition-delay: 0.5s;
}

.fapp_client_box{
	width: calc(100% - 25px);/*Due to margin*/
	height: 50px;
	margin: 3px 0px;
	margin-right: 25px;
	border: white dashed thin;
	overflow: hidden;
	transition: height 0.4s linear;
	
}

.fapp_client_selected{/*fapp_client_box_selected*/
	width: calc(100% - 25px);/*Due to margin*/
	height: 50px;
	margin: 4px 1px;
	margin-right: 26px;
	border: none;
	overflow: hidden;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/selected.png");
	background-repeat: no-repeat;
	background-position: center;
}

.fapp_client_hidden{
	height: 0px;
	margin: 0px 1px;
	border: none;
	transition: height 0.2s linear;
}

.fapp_client_highlighted{
	margin: 3px 0px;
	margin-right: 25px;
	border: white solid thin;
	overflow: hidden;
}

.fapp_client_icon{
	height: 40px;
	width: 40px;
	margin: 5px;
	float: left;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/client.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.fapp_client_hat{
	height: 40px;
	width: 40px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/hat.png");
	background-repeat: no-repeat;
	background-position: center;
	transition: transform 0.2s linear;
	transform-origin: 20% 30%;
}

.fapp_client_hat:hover{
	transform: rotate(-20deg);
}

.fapp_client_info{
	margin-left: 50px;
	width: 190px;/*Due to padding*/
	height: 40px;/*Due to padding*/
	padding: 5px;
}

.fapp_client_name{
	width: 100%;
	overflow: hidden;
}

.fapp_client_name_holder{
	margin: 0;
	padding: 0;
	color: white;
    font-size: 12pt;
    overflow: hidden;
    text-overflow: ellipsis;
	white-space: nowrap;
	position: relative;
}

.fapp_client_name_holder:hover{
	overflow: visible;
	animation-name: flyText;
	animation-duration: 4s;
}

.fapp_client_RFC{
	margin: 0;
	padding: 0;
	color: white;
    font-size: 12pt;
}

.fapp_menu_table{
	display: table;
	width: calc(250px - 10px);/*Padding*/
	margin-left: 25px;
	padding-left: 10px;
	border-bottom: thin solid #c0c0c0;
}

.fapp_menu_selectors{
	width: 80px;
	height: 30px;
	padding-left: 15px;
	display: table-cell;
	padding: 5px 2px;
}

.fapp_input_main{
	border: #eaeaea thick solid;
	border-radius: 35px;
	background-color: rgba(40,115,181,0.8);
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	margin-top: calc(-215px/2);
	margin-left: calc(-404px/2);
}

.fapp_input_main_visible{
	border: #eaeaea thick solid;
	border-radius: 35px;
	background-color: rgba(40,115,181,0.8);
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 50%;
	top: 50%;
	opacity: 1;
	transition: opacity 0.3s ease-in;
	margin-top: calc(-215px/2);
	margin-left: calc(-404px/2);
}

.fapp_input_title{
	color: rgb(234, 234, 234);
	font-size: 14pt;
	text-align: center;
}

.fapp_input_title p{
	margin: 0px;
	padding: 10px;
	font-size: 20pt;
	color: #EAEAEA;
	border-bottom: thin #eaeaea dashed;
}

.fapp_input_inputs{
	padding: 5px 20px;
	color: white;
}

.fapp_input_input{
	width: 100%;
	height: 25px;
}

.fapp_input_input p{
	padding: 0px;
	margin: 0px 0px;
	width: 200px;
	float: left;
	font-size: 11pt;
	text-align: right;
}

.fapp_input_input input{
	border: solid #EAEAEA 2px;
	background-color: rgba(255,255,255,0.2);
	border-radius: 15px;
	width: 125px;
	margin-left: 5px;
	color: #EAEAEA;
	font-weight: bold;
}

#fapp_input_name, #fapp_input_rfc, #fapp_input_pass, #fapp_input_repass{
	padding: 0px 10px;
}

.fapp_input_buttons{
	padding: 0px 30px;
}

.fapp_input_submit, .fapp_input_cancel{
	float: right;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/rectangle.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 33px;
	margin: 0px 10px;
	padding: 0px;
	margin-bottom: 5px;
	cursor: pointer;
}

.fapp_input_check{
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/check.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 33px;
	margin: 0px;
	padding: 0px;
}

.fapp_input_check:hover{
	animation-name: vibrate;
	animation-duration: 0.1s;
	animation-iteration-count: 2;
}

.fapp_input_cross{
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/cross.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 33px;
	margin: 0px;
	padding: 0px;
}

.fapp_input_cross:hover{
	animation-name: vibrate;
	animation-duration: 0.1s;
	animation-iteration-count: 2;
}

.fapp_cover_page{
	position:absolute;
	height: 0%;
	width: 100%;
	background-color: rgba(2,35,38,0.7);
	z-index: 9999;
	top: 0%;
	transition: height 0.3s ease-out;
	overflow: hidden;
}

.fapp_cover_page_visible{
	position:absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(2,35,38,0.7);
	z-index: 9999;
	top: 0%;
	transition: height 0.3s ease-out;
	overflow: hidden;
}

.fapp_pass_cover{
	position: absolute;
	height: 50px;
	width: 354px;
	text-align: center;
	font-weight: bold;
	font-size: 12pt;
	border: black dashed thin;
	border-radius: 15px;
	background-color: beige;
	color: black;
	cursor: pointer;
	display: none;
}

/*IDs*/
#fapp_main_panel{
	height: 97vh;
	border: none;
	background-color: rgba(40,115,181,0.8);
	font-family: 'Open Sans', sans-serif;
	position: relative;
	float: right;
	display: table;
}

#fapp_frame_manipulate, #fapp_frame_contents{
	border-right: solid white thin;
	display: table-cell;
}

#fapp_frame_manipulate{
	width: 50px;
	height: 97vh;/*This should be modified once chrome allows global variables. This must match main frame's height*/
	text-align: left;
	float: left;
}

#fapp_hide_holder{
	width: 100%;
	height: 60px;
	padding: 0px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/hide_unnactive.png");
	background-repeat: no-repeat;
	background-position: center;
}

#fapp_hide_holder:hover{
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/hide_active.png");
}

#fapp_logo_holder{
	width: 100%;
}

#fapp_status_holder{
	width: 50px;
	height: 50px;
	padding: 0px;
	margin-top: 10px;
	text-align: center;
}

#fapp_hide_button{
	cursor: pointer;
}

#fapp_profile_basics{
	width: calc(100% - 2px - 25px);/*Due to borders and margin*/
	margin-right: 25px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.5);
	border: thin dashed white;
}

#fapp_profile_basics{
	margin: 5px 0px;
}

#fapp_num_clients{
	color: #ff0080;
	font-size: 10pt;
	cursor: pointer;
}

#fapp_client_add{
	height: 30px;
	width: 30px;
	margin: 0px 5px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/add.png");
	background-repeat: no-repeat;
	transition: transform 0.15s linear;
	cursor: pointer;
}

#fapp_client_add:hover{
	transform: rotate(180deg);
}

#fapp_client_edit{
	height: 30px;
	width: 30px;
	margin: 0px 5px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/edit.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

#fapp_client_edit:hover{
	animation-name: vibrate;
	animation-duration: 0.1s;
	animation-iteration-count: 2;
}

#fapp_client_lid{
	height: 30px;
	width: 30px;
	margin: 0px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/lid.png");
	background-repeat: no-repeat;
	transform-origin: 50% 30%;
}

#fapp_client_lid:hover{
	animation-name: movelid;
	animation-duration: 0.5s;
}

#fapp_client_bin{
	height: 30px;
	width: 30px;
	margin: 0px 5px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/bin.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

#fapp_client_all{
	height: 30px;
	width: 30px;
	margin: 0px 5px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/all.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

#fapp_client_none{
	height: 30px;
	width: 30px;
	margin: 0px 5px;
	background-image: url("chrome-extension://__MSG_@@extension_id__/IMGs/none.png");
	background-repeat: no-repeat;
	cursor: pointer;
}

#fapp_client_all:hover{
	animation-name: vibrate;
	animation-duration: 0.1s;
	animation-iteration-count: 2;
}

#fapp_client_none:hover{
	animation-name: vibrate;
	animation-duration: 0.1s;
	animation-iteration-count: 2;
}

/*Animations*/
@keyframes vibrate{
	0%{transform: rotate(0deg);}
	25%{transform: rotate(15deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(-15deg);}
	100%{transform: rotate(0deg);}
}

@keyframes movelid{
	0%{transform: translateY(0px);}
	30%{transform: translateY(-3px);}
	40%{transform: rotate(10deg) translateY(-3px);}
	50%{transform: rotate(0deg) translateY(-3px);}
	60%{transform: rotate(-10deg) translateY(-3px);}
	70%{transform: rotate(0deg) translateY(-3px);}
	100%{transform: translateY(0px);}
}

@keyframes flyText{
	0%{transform: translateX(0);}
	95%{transform: translateX(-100%);}
	100%{transform: translateX(0);}
}
